/* Style for Navbar */
.navbar {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

.navbar h1 {
  margin: 0px;
  padding-left: 25px;
}

.navbar .links {
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 25px;
}

.navbar a {
  font-size: large;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:not(:first-child) {
  margin-left: 1rem; /* Adjusted margin for all links except the first one */
}


/* Style for Home */
.content {
  margin: 2rem;
}

.content h2 {
  color: #333;
}

/* Style for DiaryList */
.diary-list {
  margin-top: 2rem;
}

.diary-list h2 {
  color: #333;
}

.diary-list a {
  display: block;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.diary-list a:hover {
  background-color: #f4f4f4;
}

.diary-content {
  margin: 2rem auto; /* Adjust margin for top and bottom spacing */
  font-size: large;
  text-align: left;
  display: flex; /* Use flexbox */
  justify-content: center; /* Align content to the center horizontally */
  flex-direction: column; /* Align content vertically */
  max-width: 70%; /* Optionally limit the maximum width of the container */
  white-space: pre-wrap; /* Preserve white space and wrap lines */
}

.diary-content h2 {
  color: #333;
}

.diary-content p {
  color: #333;
  padding-left: 60px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  line-height: 1.4;
}

.diary-content button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin: 5px 5px; /* Adjust margin here */
  margin-right: 40px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.diary-content button:hover {
  background-color: #555;
}

.edit-diary {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.edit-diary h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.edit-diary form {
  display: flex;
  flex-direction: column;
}

.edit-diary select,
.edit-diary textarea {
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  white-space: pre-wrap; /* Preserve white space and wrap lines */
}

.edit-diary input[type="date"] { /* Specific styling for date input */
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  white-space: pre-wrap; /* Preserve white space and wrap lines */
}

.edit-diary button {
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}